@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 222 47% 31%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 31%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 46%;

    --accent: 222 47% 91%;
    --accent-foreground: 222 47% 31%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 222 47% 31%;

    --radius: 0.5rem;
  }
  @keyframes pulse {
    0% {
      border-image-slice: 1;
    }
    50% {
      border-image-slice: 2;
    }
    100% {
      border-image-slice: 1;
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 31%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 216 34% 83%;
  }
}
button:disabled {
  cursor: not-allowed;
}
@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}
