.chatBull {
   position: fixed;
   background-color: rgba(17, 25, 40, 0.75);
   width:60px;
   height:60px;
   border-radius:50%;
   backdrop-filter:blur(4px) saturate(180%) ;
   border: 1px solid rgba(255, 255, 255, 0.125);
   right: 10px;
   bottom: 10px;
   padding: 20px;
   z-index: 999;
   outline: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
.chatBull span:first-child{
    font-size: large;
}
.chatBull span:last-child{
    font-size: 30px;
}
.chatBull span{
    position: absolute;
}

.showChatBot .chatBull span:first-child,.chatBull span:last-child{
    opacity: 0;
}
.showChatBot .chatBull span:last-child{
    opacity: 1;
}
.bgCircle1,.bgCircle2,.bgCircle3,.bgCircle4{
    position: absolute;
    width: 300px;
    height: 300px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(100px);
    background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.5;
    z-index: -1;
}
.bgCircle2{
    transform: translate(-50%, 0%);
}
.bgCircle3,.bgCircle4{
    transform: translate(350%, 50%);
}



.texts{
    font-size: 12px;
    line-height: 16px;
    font-family: Hasklig,Consolas,Menlo,Monaco,Liberation Mono,Courier New,monospace;
    --tw-text-opacity: 1;
    margin-bottom: 8px;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.textResized{
    font-size: 10px;
    line-height: 12px;
    font-family: Hasklig,Consolas,Menlo,Monaco,Liberation Mono,Courier New,monospace;
    --tw-text-opacity: 1;
    margin-bottom: 5px;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

#flex{
    height: 20px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.213);
}

.ballrouge{
    width: 12px;
    height: 12px;
    background-color: #fe5e56;
    border-radius: 50%;
    margin-right: 5px;
    z-index: 2;
    cursor: pointer;

}
.ballyellow{
    width: 12px;
    z-index: 999;
    height: 12px;
    background-color: #fcbe46;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.ballvert{
    z-index: 2;
    width: 12px;
    height: 12px;
    background-color: #27c73f;
    border-radius: 50%;
    margin-right: 5px;
}
.ballyellow::after{
    content: '-';
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #980000;
    transform: translate(24%, -31%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.ballrouge::after {
  content: 'x';
  font-weight: 600;
  position: absolute;
  font-size: 12px;
  color: #980000;
  transform: translate(40%, -20%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ballyellow:hover::after,.ballrouge:hover::after {
  opacity: 1;
}
.fleshResized{
    font-size: 10px;
    line-height: 10px;
    font-family: Hasklig,Consolas,Menlo,Monaco,Liberation Mono,Courier New,monospace;
    margin-left: 12px;
    color: #40E800;
    margin-bottom: 3px;
}
.flesh {
    font-size: 12px;
    line-height: 16px;
    font-family: Hasklig,Consolas,Menlo,Monaco,Liberation Mono,Courier New,monospace;
    margin-left: 12px;
    color: #40E800;
    margin-bottom: 8px;
}

#chatResize,#chat{
    z-index: 100;
    position: fixed;
    right: 60px;
    bottom: 60px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(4px) saturate(180%);
    border:1px solid rgba(255, 255, 255, 0.125);
    transition: all .5s linear;
}

#chat{
    width: 500px;
    height: 400px;
}

#chatResize{
    width: 400px;
    height: 300px;
    transform: scale(0.5);
    
}




.showChatBot #chatResize,.showChatBot #chat{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 720px) {
  #chatResize,#chat {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
  }
  
  
}






.Ter_red{
    color:#FF5F56;
    font-size: 12px;
}
.Ter_Gray{
    color: rgb(167, 166, 166);
        font-size: 12px;

}
.Ter_Blue{
    color:cyan;
        font-size: 12px;
}







.chatbox{
    height: 200px;
    overflow-y: scroll;

}


.chatbox .chat{
    display: flex;
    margin-top: 20px;
    width: 100%;
}
.chatbox .chat .Ter_Gray{
    margin-right: 6px;
}

.chatbox .chat p{ 
    font-size: 12px;
    color: #ffffff;
}


.chatboxResize{
    height: 160px;
    overflow-y: scroll;
}
.chatboxResize .chat{
    display: flex;
    margin-top: 20px;
    width: 100%;
}
.chatboxResize .chat .Ter_Gray{
    margin-right: 6px;
}
.chatboxResize .chat p{
    font-size: 12px;
    color: #ffffff;
}







